<div class="body-component">
  <div class="title-flex-container">
    <div>
      <h1>Shopping cart</h1>
    </div>
    <div class="buttons-container">
      <button class="button-default" [routerLink]="['']"(click)="placeOrder()">Checkout</button>
    </div>
  </div>
  <table class="table-coponent">
    <tr>
      <th>Category</th>
      <th>Product Name</th>
      <th>Price</th>
      <th>Quantity</th>
    </tr>
    <tr *ngFor="let product of productList">
      <td>{{ product.productCategoryName }}</td>
      <td>{{ product.productName }}</td>
      <td>{{ product.productPrice }}</td>
      <td>
        <div class="quantity-container">
          <app-icon-button
            iconType="-"
            (click)="decrementQuantity(product)"
          ></app-icon-button>
          {{ product.quantity }}
          <app-icon-button
            iconType="+"
            (click)="incrementQuantity(product)"
          ></app-icon-button>
        </div>
      </td>
    </tr>
  </table>
  <button class="button-default" [routerLink]="['']">Back</button>
</div>
