button{
    margin: var(--rounded-margin);
    border-radius: var(--border-radius); /* This is an example to show the rounded corner; you can use the variable here too */
    background-color: var(--pink-color);
    border-color: var( --pink-border-color);
    font-family: arial, sans-serif;
    color: var(--pink-font-color);
    width: 100px;
    height: 50px;
  }
 