/* You can add global styles to this file, and also import other style files */
:root {
    --pink-color: rgb(237, 171, 197); 
    --red-color: rgb(225, 95, 95);
    --green-color: rgb(121, 217, 150);
    --pink-font-color: rgb(108, 60, 95); 
    --pink-border-color: rgb(242, 212, 224); 
    --pink-table-border-color: rgb(244, 176, 203); 
    --rounded-margin: 10px; 
    --border-radius:10px;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
